@inherits ColoredBootstrapComponentBase

<button @attributes="this.Attributes" @onclick="this.OnClickedAsync">
	@if (IsProcessing && this.ProcessingContent != null)
	{
		@this.ProcessingContent
	}
	else if (IsDisabled && this.DisabledContent != null)
	{
		@this.DisabledContent
	}
	else
	{
		@this.ChildContent
	}
</button>